{
    "extends": [
        "@spothero",
        "plugin:prettier/recommended",
        "prettier/babel",
        "prettier/react"
    ],
    "rules": {
        "prettier/prettier": "error",
        "@spothero/spothero/ternary-parentheses": 0
    },
}
